@page "/GroupList"
@inject IGroupService GroupService
@inject NavigationManager NavigationManager

<h3>List of Groups</h3>

@if (Groups != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Specialization</th>
                <th>Group Members</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Groups)
            {
                <tr @onclick="() => GoToTaskList(group.Id)" @onmouseover="() => SetHoveredRow(group.Id, true)" @onmouseout="() => SetHoveredRow(group.Id, false)" style="@GetRowStyle(group.Id)">
                    <td>@group.Specialization</td>
                    <td>@string.Join(", ", group.SawmillWorkers.Select(e => $"{e.FirstName} {e.LastName}"))</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Loading Groups...</p>
}

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .btn {
        margin-top: 10px;
        padding: 8px 16px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .hovered-row {
        background-color: #f0f0f0;
    }
</style>

@code {
    public List<WorkersGroup> Groups { get; set; }
    public String HoveredRowId { get; set; }

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        Groups = await GroupService.GetGroups();
    }

    private void GoToTaskList(String groupId)
    {
        NavigationManager.NavigateTo($"/taskList/{groupId}");
    }

    private void SetHoveredRow(String groupId, bool isHovered)
    {
        if (isHovered)
        {
            HoveredRowId = groupId;
        }
        else if (HoveredRowId == groupId)
        {
            HoveredRowId = "";
        }
    }

    private string GetRowStyle(String groupId)
    {
        if (groupId == HoveredRowId)
        {
            return "background-color: #f0f0f0;";
        }
        return string.Empty;
    }
}
