@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

    <NavMenu />
<div class="page">

    <main>
        <PageTitle>blazor-19c</PageTitle>
        <article class="content px-4">
            @Body
            <MudThemeProvider />
            <MudDialogProvider />
            <MudSnackbarProvider />
        </article>
    </main>
</div>
